@charset "UTF-8";

html {
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    height: 100%;
}

html,
body {

    min-width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../backgrounds/mainbackground.png);
    background-repeat: no-repeat;
    background-position: ;


}

#mainPage {

    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: max-content 200px max-content 600px max-content max-content auto 70px;
    gap: 20px;
    grid-template-areas:
        "logo logo body-global-nav body-global-nav"
        ". desc-banner desc-banner ."
        ". body-box-1 body-box-1 ."
        ". body-box-2 body-box-2 ."
        "body-box-3 body-box-3 body-box-3 body-box-3"
        "body-box-4 body-box-4 body-box-5 body-box-5"
        "body-supp-nav body-supp-nav body-supp-nav body-supp-nav"
        "footer footer footer footer";


}

.logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    
    justify-content: left;
}
.mainlogo {
    max-width: 200px;
}
.logoImg {
    width: 60px;
    background-color: #F7F6DC;
    padding: 10px;
    border-radius: 60%;
}

.body-global-nav {
    grid-area: body-global-nav;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.body-global-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.body-global-nav li a{
    text-decoration: none;
   
}
.desc-banner {
    grid-area: desc-banner;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
}
.desc-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ADCACB;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;

}

.body-box-1 {
    grid-area: body-box-1;
    display: flex;
    gap: 0px;
    margin: 0px;
    justify-content: center;
    background-color: white;
    border-radius: 15px;

}

.body-box-1 div {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.body-box-1 div div {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    
}
.body-box-1 div div div {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.camping-form {
    border-right: 1px solid gray;

}
.landscape {
    border-right: 1px solid gray;
}
.innerbox-number {
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60%;
    margin-bottom: -15px;
}
.body-box-2 {
    grid-area: body-box-2;
    background-color: white;
    visibility:hidden;
    padding: 5px; 
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap ;
    max-height: 600px;
}
.fliterElement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.body-box-3 {
    grid-area: body-box-3;
    border: 1px solid black;
    visibility: visible;
}
.body-box-4{
    grid-area: body-box-4;
    border: 1px solid black;
}
.body-box-5 {
    grid-area: body-box-5;
    border: 1px solid black;
}

.body-supp-nav {
    grid-area: body-supp-nav;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    gap: 20px;
    justify-content: center;
    background-image: url("../backgrounds/suppnav.png");
}
.body-supp-nav div {
    display: flex;
    flex-direction:column;
    gap: 10px;
    
}

footer {
    grid-area: footer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}

#filterPage {

    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: max-content max-content max-content max-content auto 70px;
    gap: 20px;
    grid-template-areas:
        "logo logo body-global-nav body-global-nav"
        "filter filter-results filter-results filter-results"
        "filter filter-results filter-results filter-results"
        "filter filter-results filter-results filter-results"
        "body-supp-nav body-supp-nav body-supp-nav body-supp-nav"
        "footer footer footer footer";

}

.filter {
    grid-area: filter;
    border: 1px solid black;
}
.filter-results {
    grid-area: filter-results;
    border: 1px solid black;
}

#guidePage {
        
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: max-content max-content max-content max-content max-content max-content max-content auto 70px;
    gap: 20px;
    grid-template-areas:
        "logo logo body-global-nav body-global-nav"
        "body-images-box body-images-box body-descr-box body-descr-box"
        "body-images-box body-images-box body-descr-box body-descr-box"
        "body-images-box body-images-box body-descr-box body-descr-box"
        "body-info-bar body-info-bar body-info-bar body-info-bar"
        "body-info-tab body-info-tab body-info-tab body-info-tab"
        "body-map-box body-map-box body-map-box body-map-box"
        "body-supp-nav body-supp-nav body-supp-nav body-supp-nav"
        "footer footer footer footer";

}

.body-images-box {
    grid-area: body-images-box;
    border: 1px solid black;
}

.body-descr-box {
    grid-area: body-descr-box;
    border: 1px solid black;
}
.body-info-bar {
    grid-area: body-info-bar;
    border: 1px solid black;
}
.body-info-tab {
    grid-area: body-info-tab;
}
.body-map-box {
    grid-area: body-map-box;
    border: 1px solid black;
}