@charset "UTF-8";

html {
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    height: 100%;
}

html,
body {

    min-width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../backgrounds/Wave.svg);
    background-position: center;

}

#mainPage {

    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: max-content 200px max-content max-content max-content auto max-content 70px;
    gap: 20px;
    grid-template-areas:
        "logo logo body-global-nav body-global-nav"
        ". desc-banner desc-banner ."
        ". body-box-1 body-box-1 ."
        ". body-box-2 body-box-2 ."
        "body-box-3 body-box-3 body-box-3 body-box-3"
        "body-box-4 body-box-4 body-box-5 body-box-5"
        "body-supp-nav body-supp-nav body-supp-nav body-supp-nav"
        "footer footer footer footer";


}

.logo {
    grid-area: logo;
    display: flex;
    flex-direction: column;

    justify-content: left;
}

.mainlogo {
    max-width: 120px;
    padding: 5%;
}

.logoImg {
    width: 50px;
    background-color: #F7F6DC;
    padding: 10%;
    border-radius: 60%;
}

.body-global-nav {
    grid-area: body-global-nav;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.body-global-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.body-global-nav li a {
    text-decoration: none;

}

.desc-banner {
    grid-area: desc-banner;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
}

.desc-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ADCACB;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;

}

.body-box-1 {
    grid-area: body-box-1;
    display: flex;
    gap: 0px;
    margin: 0px;
    justify-content: center;
    background-color: white;
    border-radius: 15px;

}

.body-box-1 div {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.body-box-1 div div {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    flex: 1 1 0px;

}

.body-box-1 div div div {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    flex: 1 1 0px;
}

.innerbox-number {
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60%;
    margin-bottom: -15px;
}

.campingRes {
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto auto max-content max-content;
    margin: 5px;
    grid-template-areas:
        "imgElement nameElement nameElement nameElement"
        "imgElement  ratingElement priceRangeElement linkButton"
        "imgElement textElement textElement textElement"
        "imgElement pElementFour pElementFour pElementFour";


}

.nameElement {
    grid-area: nameElement;
}

.ratingElement {
    grid-area: ratingElement;
}

.priceRangeElement {
    grid-area: priceRangeElement;
}

.textElement {
    grid-area: textElement;
}

.linkButton{
    grid-area: linkButton;
    border: 1px solid black;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
}
.linkButton:hover {
    background-color: aqua;
    cursor: pointer;
}
.campingRes img {
    grid-area: imgElement;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.body-box-2 {
    grid-area: body-box-2;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    display: none;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 200px max-content auto max-content max-content max-content;
    gap: 10px;
    grid-template-areas: "filterspecs filterspecs filterspecs"
        "filterElemnt filterElemnt filterElemnt"
        "filterElemnt filterElemnt filterElemnt"
        "filterElemnt filterElemnt filterElemnt"
        "filterElemnt filterElemnt filterElemnt"
        "filterElemnt filterElemnt filterElemnt"

    ;
}

.filterElemnt {
    grid-area: filterElemnt;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    flex: 2 1 auto;
    width: 100%;
    height: 900px;
    overflow-y: auto;
}

.filterspecs {
    grid-area: filterspecs;
    border: 1px solid black;
    border-radius: 10px;
}


.filterElemenDiv {
    border-bottom: 1px solid black;
    display: flex;
    flex: 2 1 auto;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.body-box-3 {
    grid-area: body-box-3;
    border: 1px solid black;
    visibility: visible;
}

.body-box-4 {
    grid-area: body-box-4;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.body-box-5 {
    grid-area: body-box-5;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.body-supp-nav {
    grid-area: body-supp-nav;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    gap: 20px;
    justify-content: left;
    justify-content: center;
}

.body-supp-nav div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer {
    grid-area: footer;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #F7F6DC;
    padding: 0;

}

#filterPage {

    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: max-content max-content max-content max-content auto 70px;
    gap: 20px;
    grid-template-areas:
        "logo logo body-global-nav body-global-nav"
        "filter filter-results filter-results filter-results"
        "filter filter-results filter-results filter-results"
        "filter filter-results filter-results filter-results"
        "body-supp-nav body-supp-nav body-supp-nav body-supp-nav"
        "footer footer footer footer";

}

.filter {
    grid-area: filter;
    border: 1px solid black;
}

.filter-results {
    grid-area: filter-results;
    border: 1px solid black;
}

#guidePage {

    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: max-content max-content max-content max-content max-content max-content max-content auto 70px;
    gap: 20px;
    grid-template-areas:
        "logo logo body-global-nav body-global-nav"
        "body-images-box body-images-box body-descr-box body-descr-box"
        "body-images-box body-images-box body-descr-box body-descr-box"
        "body-images-box body-images-box body-descr-box body-descr-box"
        "body-info-bar body-info-bar body-info-bar body-info-bar"
        "body-info-tab body-info-tab body-info-tab body-info-tab"
        "body-map-box body-map-box body-map-box body-map-box"
        "body-supp-nav body-supp-nav body-supp-nav body-supp-nav"
        "footer footer footer footer";

}

.body-images-box {
    grid-area: body-images-box;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.body-descr-box {
    grid-area: body-descr-box;
    border: 1px solid black;
}

.body-info-bar {
    grid-area: body-info-bar;
    border: 1px solid black;
}

.body-info-tab {
    grid-area: body-info-tab;
}

.body-map-box {
    grid-area: body-map-box;
    border: 1px solid black;
}